.calendar-grid {
  display: flex;
  flex-wrap: wrap;
}

.calendar-grid .column {
  flex-basis: calc(100% / 7); /* Each day takes up 1/7th of the width */
  padding: 10px;
}

.calendar-grid .column.has-text-centered {
  border: 1px solid #ddd;
  min-height: 100px; /* Set a minimum height for each day cell */
  position: relative; /* Allow positioning of events */
}

.calendar-grid .has-background-light {
  background-color: #f5f5f5;
}

.calendar-grid .has-text-weight-bold {
  font-weight: 700;
}

.day-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Ensure the day cell stretches to fill the column */
}

.day-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.event {
  background-color: #3273dc;
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  text-decoration: none; /* Remove underline from links */
  display: block; /* Ensure events fill available space */
}

.event-title {
  font-size: 0.875rem;
  font-weight: bold;
}

.event-time {
  font-size: 0.75rem;
}

.event.closed {
  background-color: red; /* Red for closed days */
}

.arrow-button {
  font-size: 2rem; /* Increase the font size */
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer */
  color: white; /* Set arrow color */
  padding: 10px; /* Adjust padding */
}

.arrow-button:hover {
  color: grey; /* Darken color on hover */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  margin: 0 15px; /* Add spacing between arrows and month/year */
}

.calendar-header h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.5rem; /* Adjust font size if needed */
}

.delete-button {
  background-color: #ff3860;
  color: white;
  border: none;
  padding: 1px 1px;
  margin-top: 1px;
  cursor: pointer;
  font-size: 0.6rem;
  border-radius: 4px;
  width: 100%;
}

.delete-button:hover {
  background-color: #ff1443;
}

.event {
  display: flex;
  flex-direction: column;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .calendar-grid .column {
    padding: 5px; /* Reduce padding for mobile view */
    flex-basis: 14%; /* Adjust the column width for mobile view */
  }

  .calendar-grid .column.has-text-centered {
    min-height: 80px; /* Adjust minimum height for mobile view */
  }

  .event-title {
    font-size: calc(0.35rem + 0.3vw); /* Smaller font size and scaling */
  }

  .event-time {
    font-size: calc(0.3rem + 0.2vw); /* Smaller font size and scaling */
  }
}

.title {
  flex-grow: 1;
  text-align: center;
}
