@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body {
  font-family: 'Roboto', sans-serif;
  background: hsl(0, 0%, 7%);
  margin: 0;
  overflow-x: hidden; /* Handle horizontal overflow */
}

h1, h2, h3 {
  font-weight: bold;
}

/* Centering the navbar items */
.navbar-menu {
  display: flex;
  justify-content: center; /* Center align the navbar items */
}

.navbar-menu .navbar-start {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  justify-content: center;
}

.navbar-menu .navbar-item {
  margin: 0 0.5rem; /* Adjust spacing for smaller screens */
}

.navbar-item.is-active {
  color: #ffdd57; /* Highlight color for active tab */
  font-weight: bold; /* Bold font for active tab */
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hide elements on mobile */
.is-hidden-mobile {
  display: none;
}

/* Hide elements on tablets and above */
.is-hidden-tablet {
  display: none;
}

@media (max-width: 768px) {
  .is-reverse-on-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 769px) {
  .is-hidden-mobile {
    display: block;
  }
  .is-hidden-tablet {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none;
  }
  .is-hidden-tablet {
    display: block;
  }
  
  .navbar-menu {
    flex-direction: column; /* Stack navbar items vertically on small screens */
  }

  .navbar-item {
    font-size: 0.75rem; /* Adjust font size for better readability */
    padding: 0.5rem; /* Add padding for better spacing */
    text-align: center; /* Center-align text in items */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  /* Adjust navbar-burger visibility */
  .navbar-burger {
    display: block; /* Ensure burger icon is visible on mobile */
  }
  
  .navbar-menu {
    display: none; /* Hide the menu by default on mobile */
  }

  .navbar-menu.is-active {
    display: flex; /* Show the menu when active */
  }

  /* Ensure the burger button and Navigation text are aligned to the left on mobile view */
  .navbar-brand {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the left */
  }

  .navbar-title {
    margin-left: 1rem; /* Space between burger button and text */
    font-size: 1rem; /* Adjust font size if needed */
  }

  /* Ensure the burger button is aligned properly */
  .navbar-burger {
    margin-left: 0; /* Remove any margin to align it properly */
  }

  .header-content {
    padding-top: 1rem;
  }
}
